
NomadGym.xcodeproj/project.pbxproj
NomadGym/Assets.xcassets/Profile.imageset/Contents.json
NomadGym.xcodeproj/project.pbxproj
NomadGym.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTSessionManager.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/SpotifyiOS
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTSession.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTScope.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTMacros.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTLogin.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTError.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTConfiguration.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTAppRemoteUserCapabilities.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTAppRemoteUserAPI.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTAppRemoteTrack.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTAppRemotePodcastPlaybackSpeed.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTAppRemotePlayerAPI.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTAppRemotePlayerState.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTAppRemotePlaybackRestrictions.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTAppRemotePlaybackOptions.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTAppRemoteLibraryState.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTAppRemoteImageRepresentable.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTAppRemoteImageAPI.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTAppRemoteCrossfadeState.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTAppRemoteContentItem.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTAppRemoteContentAPI.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTAppRemoteConnectionParams.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTAppRemoteCommon.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTAppRemoteArtist.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTAppRemoteAlbum.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SPTAppRemote.h
NomadGym/Spotify/SpotifyiOS.framework/Versions/A/Headers/SpotifyiOS.h
NomadGym.xcodeproj/project.pbxproj
NomadGym/Assets.xcassets/aesthetic.imageset/aesthetic.jpeg
NomadGym/Assets.xcassets/aesthetic.imageset/Contents.json
NomadGym/Assets.xcassets/background.imageset/background.png
NomadGym/Assets.xcassets/background.imageset/Contents.json
NomadGym/Assets.xcassets/color.imageset/color.png
NomadGym/Assets.xcassets/color.imageset/Contents.json
NomadGym/Assets.xcassets/color2.imageset/color2.png
NomadGym/Assets.xcassets/color2.imageset/Contents.json
NomadGym/Assets.xcassets/lifter.imageset/Contents.json
*.pbxproj
NomadGym/Assets.xcassets/aesthetic.imageset/Contents.json
NomadGym/Assets.xcassets/background.imageset/Contents.json
*.json
NomadGym.xcodeproj/project.pbxproj
